<?xml version="1.0" encoding="UTF-8"?>
<configuration scan="true" scanPeriod="30 seconds">
	<!--日志路径 -->
	<property name="LOG_PATH" value="/home/dev/log/ismg/" />
	<!--日志文件名 -->
	<property name="LOG_FILE" value="ismg" />
	<!--消息输出格式 -->
	<property name="MSG_PATTERN"
		value="%d{yyyy-MM-dd HH:mm:ss.SSS} [%thread] %-5level %logger{36} -> %msg %n" />

	<appender name="CONSOLE" class="ch.qos.logback.core.ConsoleAppender">
		<encoder>
			<pattern>${MSG_PATTERN}</pattern>
		</encoder>
	</appender>

	<appender name="FILE"
		class="ch.qos.logback.core.rolling.RollingFileAppender">
		<encoder>
			<pattern>${MSG_PATTERN}</pattern>
			<charset>UTF-8</charset>
		</encoder>
		<rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
			<!--文件名称命名模式 -->
			<FileNamePattern>${LOG_PATH}/${LOG_FILE}.%d{yyyy-MM-dd}.log
			</FileNamePattern>
			<!--文件保留天数 -->
			<maxHistory>30</maxHistory>
		</rollingPolicy>
	</appender>
	
	<springProfile name="dev">
		<root level="INFO">
			<appender-ref ref="FILE" />
			<appender-ref ref="CONSOLE" />
		</root>
	</springProfile>
	
	<springProfile name="test,production,produce">
		<root level="INFO">
			<appender-ref ref="FILE" />
		</root>
	</springProfile>
	
</configuration>
